!!!
%html
  %head
    %title GitStars
    %link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,800', type: 'text/css' }
    %link{ rel: 'stylesheet', href: '/styles/style.css', type: 'text/css' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', type: 'text/css' }

  %body
    #container

  %script{ type: 'text/javascript', src: '/scripts/app.js' }